---
layout: base
---

{% include 'webring.njk' %}

<div class="markdown">
    <h2>The Origional FurRing Site</h2>
    <p>The origional site can be viewed <a href="http://web.archive.org/web/19990503143315/http://wolf.tierranet.com:80/furring.html" target="new">here</a> thanks to the Wayback Machine.
    </p>
    
    <h2>How to join</h2>
    <p>
        To join the webring, fill out this form and one of our admins will look the site over, and add it to the ring in the order it was received.
    </p>

    {% include 'signupform.njk' %}

    <h2>Add the banner</h2>
    <p>
        Once you've joined the ring, copy this code snippet into your site:
    </p>

    {% highlight 'html' %}{% include 'snippet.njk' %}{% endhighlight %}

    <p>
        It will render this banner that links to the other members:
    </p>

    {% include 'snippet.njk' %}

    <h2>Want to host your own webring?</h2>
    <p>
        If you want to start your own webring, fork 
        <a href="https://github.com/maxboeck/webring">the original project started by maxboeck</a> on Github 
        and follow the instructions in the README.
    </p>

    {% include 'github.njk' %}
</div>
